<!doctype html>
<html lang="en">
  <head >
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- 初期化用CSSの読み込み -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <!-- 適用するCSSの読み込み -->
    <link rel="stylesheet" href="static/trip_maker/css/style.css">  

    <title>密なし旅メーカー</title>
  </head>

  <body>  
    <nav class="navbar fixed-top navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">密なし旅メーカー</a>
        </div>
    </nav>
    <div class="container-sm">
        <div class="container-container">
            <div>
                <img src="https://placehold.jp/400x300.png">
                <img src="https://1.bp.blogspot.com/-TmywJRYiyRc/WWNBOImx10I/AAAAAAABFag/QGX5gRLQweEk0zydCZK-03pMXiDJizF_ACLcBGAs/s800/travel_happy_young_set.png" width="320" height="200">
            </div>
            <div id="button_choose_prefecture" class="button_choose_prefecture">
                
            </div>
            <div class="next_button">
                <div class="d-grid gap-2 col-2 mx-auto">
                    <button type="button" class="btn btn-primary" onclick="location.href='#'">
                        この県で探す
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16" margin="20">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>  
    <div>
        {{ prefectures|json_script:"prefectures" }}
        <script>
            const prefectures = JSON.parse(document.getElementById('prefectures').textContent);
            let prefecture_buttons = document.getElementById("button_choose_prefecture")
            let id = 0;
            for(prefecture of prefectures){
                let buttton = document.createElement('a');
                buttton.id = id;
                id++;
                buttton.className="btn btn-primary";
                buttton.href="{% url 'main' %}?param="+String(id);
                buttton.innerHTML=prefecture;
                console.log(prefecture);
                prefecture_buttons.appendChild(buttton);

            }


        </script>
  </body>
</html>

<!-- ここで初心者向けの気軽なサイトであることをアピールする 
{% for prefecture in prefectures %}
                <button id={{ forloop.counter }} type="button" class="btn btn-primary">{{ prefecture.name }}</button>
                {% endfor %}
-->